<div class="dashboard">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">

        <div class="col-md order-md-first text-center text-md-left">
            <h2>
                <span class="small text-uppercase text-muted d-block">Statistics</span>
                <span *ngIf="filteredDateStart && filteredDateEnd">{{ filteredDateStart | date }} - {{ filteredDateEnd
                    | date
                    }}</span>
            </h2>
        </div>

        <kendo-combobox style="width: 200px;"
          [data]="users$ | async" textField="fullName" valueField="fullName"
          [suggest]="true"
          (open)="userFilterOpen()" (valueChange)="userFilterValueChange($event)">

          <ng-template kendoComboBoxItemTemplate let-userItem>
            <kendo-avatar [imageSrc]="userItem.avatar"></kendo-avatar>
            <span style="margin-left:10px;">{{ userItem.fullName }}</span>
          </ng-template>
        </kendo-combobox>

        <kendo-buttongroup selection="single">
          <button kendoButton [toggleable]="true" (click)="onMonthRangeTap(3)">3 Months</button>
          <button kendoButton [toggleable]="true" (click)="onMonthRangeTap(6)">6 Months</button>
          <button kendoButton [toggleable]="true" (click)="onMonthRangeTap(12)">1 Year</button>
        </kendo-buttongroup>
    </div>


    <app-active-issues [statusCounts]="statusCounts$ | async"></app-active-issues>
</div>
