
<kendo-listview [data]="comments$ | async" style="border: 0px;">

  <ng-template kendoListViewHeaderTemplate>
    <form>
      <div>
        <kendo-avatar rounded="medium" [imageSrc]="currentUser?.avatar"></kendo-avatar>

        <kendo-textarea #comment [(ngModel)]="newCommentText" style="width: 50%;"
          placeholder="Enter new comment..." name="newComment">
        </kendo-textarea>

        <button kendoButton type="button" class="k-buttons-end" (click)="onAddTapped()" [disabled]="!newCommentText">Add</button>
      </div>
    </form>
  </ng-template>

  <ng-template kendoListViewItemTemplate let-comment>
    <kendo-card width="100%">
      <kendo-card-header>
        <kendo-avatar rounded="medium" [imageSrc]="comment.user.avatar"></kendo-avatar>
        <span>{{ comment.user.fullName }}</span><span>{{comment.dateCreated | date }}</span>
      </kendo-card-header>

      <kendo-card-body>
        <span type="text">{{ comment.title }}</span>
      </kendo-card-body>
    </kendo-card>
  </ng-template>

</kendo-listview>
