<form class="k-form-horizontal">

    <div class="form-row align-items-center">
        <div class="col-sm-6">
            <kendo-textbox [(ngModel)]="newTaskTitle" placeholder="Enter new task..."
                name="newTask">
            </kendo-textbox>
        </div>
        <button kendoButton type="button" (click)="onAddTapped()" [disabled]="!newTaskTitle">Add</button>
    </div>

    <hr />


      <div *ngFor="let task of tasks$ | async">

          <input kendoCheckBox type="checkbox" [checked]="task.completed" (change)="toggleTapped(task)" aria-label="Checkbox for following text input"
                    [name]="'checked' + task.id" />
          <kendo-textbox
          [(ngModel)]="task.title" (ngModelChange)="taskTitleChange(task, $event)" (blur)="taskBlurred(task)"
          aria-label="Text input with checkbox" [name]="'tasktitle' + task.id" style="width: 50%; margin: 5px;">
          </kendo-textbox>

          <button kendoButton themeColor="warning" type="button" (click)="taskDelete(task)">Delete</button>
        </div>



</form>
