<form class="k-form k-form-horizontal">

  <kendo-formfield orientation="horizontal">
    <kendo-label [title]="title">Title</kendo-label>

    <input kendoTextBox #title name="title"
      [(ngModel)]="itemForm.title" (blur)="onBlurTextField()"  />
  </kendo-formfield>

  <kendo-formfield orientation="horizontal">
    <kendo-label [for]="description">Description</kendo-label>

    <textarea kendoTextArea #description name="description"
      [(ngModel)]="itemForm.description" (blur)="onBlurTextField()">
    </textarea>
  </kendo-formfield>

  <kendo-formfield orientation="horizontal">
    <kendo-label [for]="itemType">Item Type</kendo-label>
    <kendo-dropdownlist #itemType name="itemType"
      [data]="itemTypesProvider" [(ngModel)]="itemForm.typeStr" (valueChange)="onDropdownChange()">

      <ng-template kendoDropDownListItemTemplate kendoDropDownListValueTemplate let-dataItem>
          <img [src]="getIndicatorImage(dataItem)" class="backlog-icon" />
          <span>{{ dataItem }}</span>
      </ng-template>

    </kendo-dropdownlist>
  </kendo-formfield>

  <kendo-formfield orientation="horizontal">
    <kendo-label [for]="status">Status</kendo-label>
    <kendo-dropdownlist #status name="status"
        [data]="statusesProvider" [(ngModel)]="itemForm.statusStr" (valueChange)="onDropdownChange()">
    </kendo-dropdownlist>
  </kendo-formfield>

  <kendo-formfield orientation="horizontal">
    <kendo-label [for]="estimate">Estimate</kendo-label>

    <kendo-slider #estimate name="estimate"
      [(ngModel)]="itemForm.estimate" [fixedTickWidth]="10" [smallStep]="1" [min]="0" [max]="20"
      (blur)="onBlurTextField()">
    </kendo-slider>
  </kendo-formfield>

  <kendo-formfield orientation="horizontal">
    <kendo-label [for]="priority">Priority</kendo-label>
    <kendo-dropdownlist #priority name="priority"
        [data]="prioritiesProvider" [(ngModel)]="itemForm.priorityStr" (valueChange)="onDropdownChange()">

      <ng-template kendoDropDownListItemTemplate let-dataItem>
          <span [class]="'badge ' + getPriorityClass(dataItem)">{{ dataItem }}</span>
      </ng-template>

    </kendo-dropdownlist>
  </kendo-formfield>

  <kendo-formfield orientation="horizontal">
    <kendo-label>Assignee</kendo-label>
    <button kendoButton (click)="assigneePickerOpen(content)">
      <img [src]="selectedAssignee?.avatar" class="li-avatar rounded" />
    </button>
  </kendo-formfield>
</form>


<ng-template #content let-modal>

  <kendo-listview [data]="users$ | async">

    <ng-template kendoListViewHeaderTemplate>
      <div class="modal-header">
        <h4>Select Assignee</h4>
        <button kendoButton type="button" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </ng-template>

    <ng-template kendoListViewItemTemplate let-dataItem>
      <kendo-card orientation="horizontal" style="width: 100%; cursor: pointer;" (click)="modal.close(dataItem)">

        <kendo-card-header>
          <kendo-avatar [imageSrc]="dataItem?.avatar"></kendo-avatar>
        </kendo-card-header>

        <kendo-card-body>
          <span>{{ dataItem?.fullName }}</span>
        </kendo-card-body>

      </kendo-card>
    </ng-template>

  </kendo-listview>

</ng-template>
