<form class="k-form k-form-horizontal">

  <kendo-formfield orientation="horizontal">
    <kendo-label [title]="title">Title</kendo-label>

    <input kendoTextBox #title name="title"
      [(ngModel)]="itemForm.title" (blur)="onBlurTextField()"  />
  </kendo-formfield>

  <kendo-formfield orientation="horizontal">
    <kendo-label [for]="description">Description</kendo-label>

    <textarea kendoTextArea #description name="description"
      [(ngModel)]="itemForm.description" (blur)="onBlurTextField()">
    </textarea>
  </kendo-formfield>

  <kendo-formfield orientation="horizontal">
    <kendo-label [for]="itemType">Item Type</kendo-label>
    <kendo-dropdownlist #itemType name="itemType"
      [data]="itemTypesProvider" [(ngModel)]="itemForm.typeStr" (valueChange)="onDropdownChange()">

      <ng-template kendoDropDownListItemTemplate kendoDropDownListValueTemplate let-dataItem>
          <img [src]="getIndicatorImage(dataItem)" class="backlog-icon" />
          <span>{{ dataItem }}</span>
      </ng-template>

    </kendo-dropdownlist>
  </kendo-formfield>

  <kendo-formfield orientation="horizontal">
    <kendo-label [for]="status">Status</kendo-label>
    <kendo-dropdownlist #status name="status"
        [data]="statusesProvider" [(ngModel)]="itemForm.statusStr" (valueChange)="onDropdownChange()">
    </kendo-dropdownlist>
  </kendo-formfield>

  <kendo-formfield orientation="horizontal">
    <kendo-label [for]="estimate">Estimate</kendo-label>

    <kendo-slider #estimate name="estimate"
      [(ngModel)]="itemForm.estimate" [fixedTickWidth]="10" [smallStep]="1" [min]="0" [max]="20"
      (blur)="onBlurTextField()">
    </kendo-slider>
  </kendo-formfield>

  <kendo-formfield orientation="horizontal">
    <kendo-label [for]="priority">Priority</kendo-label>
    <kendo-dropdownlist #priority name="priority"
        [data]="prioritiesProvider" [(ngModel)]="itemForm.priorityStr" (valueChange)="onDropdownChange()">

      <ng-template kendoDropDownListItemTemplate let-dataItem>
          <span [class]="'badge ' + getPriorityClass(dataItem)">{{ dataItem }}</span>
      </ng-template>

    </kendo-dropdownlist>
  </kendo-formfield>

  <kendo-formfield orientation="horizontal">
    <kendo-label>Assignee</kendo-label>
    <button kendoButton (click)="openAssigneePicker()">
      <img [src]="selectedAssignee?.avatar" class="li-avatar rounded" />
    </button>
  </kendo-formfield>
</form>

<kendo-dialog *ngIf="assigneePickerDisplayed" width="25%" height="75%" title="Select Assignee" (close)="onCloseAssigneePicker()">

  <kendo-listview [data]="users$ | async">

    <ng-template kendoListViewItemTemplate let-user>
      <kendo-card orientation="horizontal" style="width: 100%; cursor: pointer;" (click)="onSelectAssignee(user)">

        <kendo-card-header>
          <kendo-avatar [imageSrc]="user?.avatar"></kendo-avatar>
        </kendo-card-header>

        <kendo-card-body>
          <span>{{ user?.fullName }}</span>
        </kendo-card-body>

      </kendo-card>
    </ng-template>

  </kendo-listview>

  <kendo-dialog-actions>
    <button kendoButton (click)="onCloseAssigneePicker()">Close</button>
  </kendo-dialog-actions>

</kendo-dialog>
